
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_filter label {
        font-size: 11px; /* Sesuaikan ukuran font */
    }

    .dataTables_info {
        font-size: 11px; /* Sesuaikan ukuran font */
    }

    .dataTables_paginate .paginate_button {
        font-size: 10px; /* Sesuaikan ukuran font */
        /*padding: 4px 8px;*/ /* Mengatur padding untuk ukuran tombol */
    }
</style>


<div class="row">
    <div class="col-md-6">
        <div class="card card-danger">
            <div class="card-header justify-content-center font-weight-bold">
                <h3 class="card-title">TABEL APLIKASI</h3>

                <div class="card-tools">
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="TableAplikasi" class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="35%">Nama Aplikasi</th>
                            <th width="47%">Deskripsi</th>
                            <th width="8%">IsActive</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.card-body -->
    </div>

    <div class="col-md-6">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">TABEL PROGRAM</h3>

                <div class="card-tools">
                    <button type="button"
                            class="btn btn-tool"
                            data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>
            </div>
            <div class="card-body">
                <table id="TableProgram" class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="35%">Nama Program</th>
                            <th width="47%">Deskripsi</th>
                            <th width="8%">IsActive</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


@section scripts{
 <script>
    $(document).ready(function() {
        var TableAplikasi = $('#TableAplikasi').DataTable({
            responsive: true,
            lengthChange: false,
            "ordering": false,
            scrollY: '340px',

            //processing: true,
            //serverSide: true,

            //scrollX: true,  // Mengaktifkan scroll horizontal//scrollX: true,  // Mengaktifkan scroll horizontal

            ajax: {
                url: "@Url.Action("LoadDataApps", "InstalledAppsProgram")", // Ensure correct URL
                type: "POST",
                dataType: "json",
                dataSrc: "data", // Adjust according to your JSON structure
            },

            //"initComplete": function(settings, json) {
            //    $('#loadingSpinner').hide(); // Sembunyikan spinner saat tabel selesai dimuat
            //},
            columnDefs: [
                //{ width: '5px', targets: 0 },  // Narrow the first column (for + buttons)
                //{ width: '150px', targets: [1, 2, 3, 4, 5] }
            ],
            "columns": [

                {
                    "data": "Nama_Aplikasi",
                    "autowidth": true
                },
                {
                    "data": "Deskripsi",
                    "autowidth": true
                },
                {
                    "data": "IsActive", // Kolom yang berisi nilai true/false
                    "render": function(data, type, row) {
                        return `<center><input type="checkbox" ${data ? 'checked' : ''} disabled></center>`;
                    },
                },

                {
                    "data": "Id_Aplikasi",
                    "render": function(data) {
                        var Edit = '@Url.Action("EditApps", "InstalledAppsProgram")/' + data;
                        return '<center><a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-primary btn-sm" data-placement="top" title="Edit"> <i class="fas fa-edit"></i></a>&nbsp;'
                    },
                },
            ],
            "dom": '<"topApps d-flex justify-content-between"f><"clear">rt<"bottom"lp>', // "f" untuk filter (Cari)
            "initComplete": function() {
                // Menambahkan button di container atas di sebelah kanan
                var AddApps = '@Url.Action("CreateApps", "InstalledAppsProgram")';
                $(".topApps").append('<a href=\"' + AddApps + '\" class="btn waves-light btn-tambah"><i class="fas fa-plus"></i></a>');
            },
            "language": {
                "sEmptyTable": "Tidak ada data yang tersedia pada tabel ini",
                "sProcessing": "Sedang memproses...",
                "sLengthMenu": "Tampilkan _MENU_ data",
                "sZeroRecords": "Tidak ditemukan data yang sesuai",
                "sInfo": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
                "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 data",
                "sInfoFiltered": "(disaring dari _MAX_ data keseluruhan)",
                "sInfoPostFix": "",
                "sSearch": "Cari:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "|<",
                    "sPrevious": "<",
                    "sNext": ">",
                    "sLast": ">|"
                }
            }
        });

        var TableProgram = $('#TableProgram').DataTable({
            responsive: true,
            lengthChange: false,
            "ordering": false,
            scrollY: '340px',

            //processing: true,
            //serverSide: true,

            //scrollX: true,  // Mengaktifkan scroll horizontal//scrollX: true,  // Mengaktifkan scroll horizontal

            ajax: {
                url: "@Url.Action("LoadDataProgram", "InstalledAppsProgram")", // Ensure correct URL
                type: "POST",
                dataType: "json",
                dataSrc: "data", // Adjust according to your JSON structure
            },

            //"initComplete": function(settings, json) {
            //    $('#loadingSpinner').hide(); // Sembunyikan spinner saat tabel selesai dimuat
            //},
            "columns": [

                {
                    "data": "Nama_Program",
                    "autowidth": true
                },
                {
                    "data": "Deskripsi",
                    "autowidth": true
                },
                {
                    "data": "IsActive", // Kolom yang berisi nilai true/false
                    "render": function(data, type, row) {
                        return `<center><input type="checkbox" ${data ? 'checked' : ''} disabled></center>`;
                    },
                },

                {
                    "data": "Id_Program",
                    "render": function(data) {
                        var Edit = '@Url.Action("EditApps", "InstalledAppsProgram")/' + data;
                        return '<center><a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-primary btn-sm" data-placement="top" title="Edit"> <i class="fas fa-edit"></i></a>&nbsp;'
                    },
                },

            ],
            "dom": '<"topProgram d-flex justify-content-between"f><"clear">rt<"bottom"lp>', // "f" untuk filter (Cari)
            "initComplete": function() {
                // Menambahkan button di container atas di sebelah kanan
                var Add = '@Url.Action("CreateProgram", "InstalledAppsProgram")';
                $(".topProgram").append('<a href=\"' + Add + '\" class="btn waves-light btn-tambah"><i class="fas fa-plus"></i></a>');
            },
            "language": {
                "sEmptyTable": "Tidak ada data yang tersedia pada tabel ini",
                "sProcessing": "Sedang memproses...",
                "sLengthMenu": "Tampilkan _MENU_ data",
                "sZeroRecords": "Tidak ditemukan data yang sesuai",
                "sInfo": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
                "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 data",
                "sInfoFiltered": "(disaring dari _MAX_ data keseluruhan)",
                "sInfoPostFix": "",
                "sSearch": "Cari:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "|<",
                    "sPrevious": "<",
                    "sNext": ">",
                    "sLast": ">|"
                }
            }
        });
    });
</script>   

}
