@model IEnumerable<AppBankData.Models.ListKomputer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="loadingSpinner">
    <img src="~/img/12 segments.gif" alt="Loading..." /> <!-- Gambar spinner -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-1 border-bottom-0 bg-gradient-dark">
                <div class="row align-items-center">
                    <!-- Menambahkan align-items-center agar elemen berada di tengah secara vertikal -->
                    <div class="col-10">
                        <ul class="nav nav-pills p-1" id="tab-listkomputer" role="tablist">
                            <li class="pt-2 px-3 bg-gradient-gray-dark">
                                <h3 class="card-title font-weight-bold">&emsp;LIST KOMPUTER&emsp;</h3>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active border-button" id="button-tab-data-listkomputer" data-toggle="pill" href="#tab-old-listkomputer" role="tab" aria-controls="tab-old-listkomputer" aria-selected="true">DATA KOMPUTER</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-button" id="button-tab-history-listkomputer" data-toggle="pill" href="#tab-new-listkomputer" role="tab" aria-controls="tab-new-listkomputer" aria-selected="false">HISTORY KOMPUTER</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 text-right">
                        <!-- text-right agar tombol Add terposisi di kanan -->
                        <a href="@Url.Action("Create", "ListKomputer")" class="btn btn-icon waves-light btn-tambah mr-3" id="add-button" data-placement="top" title="New">
                            <i class="fas fa-plus"></i> ADD
                        </a>
                    </div>
                </div>
            </div>


            @* Search Area *@
            @*<div style="background-color:#f5f5f5; padding-top:10px; font-size:10px">
            <div class="col-12">
                <div class="form-group row">
                    @Html.Label("Nama", htmlAttributes: new { @class = "col-1 col-form-label" })
                    <input type="text" id="Nama" class="form-control col-3 input-sm" />

                    @Html.Label("Angkatan", htmlAttributes: new { @class = "col-1 col-form-label" })
                    <input type="text" id="angkatan" class="form-control col-3 input-sm" />

                    <button type="button" id="btnSearch" class="btn btn-instagram btn-sm m-l-10"><i class="fas fa-search"></i></button>
                </div>

            </div>
        </div>*@

            <!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content" id="tab-listkomputer-tabContent">
                    <div class="tab-pane fade show active" id="tab-old-listkomputer" role="tabpanel" aria-labelledby="button-tab-data-listkomputer" style="width:100%">
                        <table id="ListKomputersOldTable" class="table table-bordered display" style="width:100%">
                            <thead>
                                <tr>
                                    <th width="3%"></th>
                                    <th width="3%"></th>
                                    <th width="15%">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th width="12%">
                                        @Html.DisplayNameFor(model => model.Computername)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Workgroup)
                                    </th>
                                    <th width="20%">
                                        @Html.DisplayNameFor(model => model.Useraccount)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Ipaddress)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.NamaUser)
                                    </th>
                                    <th width="8%">
                                        @Html.DisplayNameFor(model => model.TanggalUpdate)
                                    </th>
                                    <th width="14%">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="tab-new-listkomputer" role="tabpanel" aria-labelledby="button-tab-history-listkomputer" style="width:100%">
                        <table id="ListKomputersNewTable" class="table table-striped table-bordered table-display " style="width:100%">
                            <thead>
                                <tr>
                                    <th width="3%"></th>
                                    <th width="3%"></th>
                                    <th width="15%">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th width="12%">
                                        @Html.DisplayNameFor(model => model.Computername)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Workgroup)
                                    </th>
                                    <th width="20%">
                                        @Html.DisplayNameFor(model => model.Useraccount)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Ipaddress)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.NamaUser)
                                    </th>
                                    <th width="8%">
                                        @Html.DisplayNameFor(model => model.TanggalUpdate)
                                    </th>
                                    <th width="14%">
                                        &emsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

@section scripts{
    <script>

    function format(d) {
      // `d` is the original data object for the row
      return `
    <table class="table child-table display table-bordered bg-gradient-white">
  <tr>
    <th width="15%"><center>Motherboard</center></th>
    <th width="10%"><center>Processor</center></th>
    <th width="15%"><center>Operating System</center></th>
    <th width="10%"><center>Harddisk</center></th>
    <th width="15%"><center>RAM</center></th>
    <th width="15%"><center>Lokasi</center></th>
    <th width="20%"><center>Keterangan</center></th>
  </tr>
    <td> ${d.Motherboard}</td>
    <td> ${d.Processor}</td>
    <td>${d.Os}</td>
    <td>${d.Hardisk}</td>
    <td> ${d.Ram}</td>
    <td>${d.Lokasi}</td>
    <td>${d.Keterangan1}</td>
  </tr>
  </table>`;
    }
    $(document).ready(function () {
      var OldTable = $('#ListKomputersOldTable').DataTable({
        responsive: true,
        lengthChange: false,
        scrollY: '320px',

        //processing: true,
        //serverSide: true,

        //scrollX: true,  // Mengaktifkan scroll horizontal//scrollX: true,  // Mengaktifkan scroll horizontal

        ajax: {
          url: "@Url.Action("LoadData", "ListKomputer")", // Ensure correct URL
          type: "POST",
          dataType: "json",
          dataSrc: "data", // Adjust according to your JSON structure
        },

        "initComplete": function (settings, json) {
          $('#loadingSpinner').hide();  // Sembunyikan spinner saat tabel selesai dimuat
        },
        columnDefs: [
          //{ width: '5px', targets: 0 },  // Narrow the first column (for + buttons)
          //{ width: '150px', targets: [1, 2, 3, 4, 5] }
        ],
        "columns": [
          { data: null, className: 'details-control', orderable: false, defaultContent: '<button class="btn btn-xs btn-default"><i class="fas fa-plus-circle"></i></button>' },
          {
            "data": "Id", "render": function (data) {
              var Edit = '@Url.Action("Edit", "ListKomputer")/' + data;
              return '<center><a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-sm btn-edit" data-placement="top" title="Maintenance"> <i class="fas fa-user-edit"></i></a></center>'
            },
          },
          { "data": "Description", "autowidth": true },
          { "data": "Computername", "autowidth": true },
          { "data": "NamaWorkgroup", "autowidth": true },
          { "data": "Useraccount", "autowidth": true },
          { "data": "Ipaddress", "autowidth": true },
          { "data": "NamaUser", "autowidth": true },
          { "data": "TanggalUpdate", "autowidth": true },
          {
            "data": "Id", "render": function (data) {
              var Edit = '@Url.Action("Edit", "ListKomputer")/' + data;
              var Details = '@Url.Action("Details", "ListKomputer")/' + data;
              return '<center><a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-primary btn-sm" data-placement="top" title="Edit"> <i class="fas fa-edit"></i></a>&nbsp;' +
                '<a href=\"' + Details + '\" class="btn btn-icon waves-light btn-info btn-sm" data-placement="top" title="Detail"> <i class="far fa-file"></i></a></center>'
            },
          },
        ],

        "language":
        {
          "sEmptyTable": "Tidak ada data yang tersedia pada tabel ini",
          "sProcessing": "Sedang memproses...",
          "sLengthMenu": "Tampilkan _MENU_ data",
          "sZeroRecords": "Tidak ditemukan data yang sesuai",
          "sInfo": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
          "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 data",
          "sInfoFiltered": "(disaring dari _MAX_ data keseluruhan)",
          "sInfoPostFix": "",
          "sSearch": "Cari:",
          "sUrl": "",
          "oPaginate": {
            "sFirst": "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext": "Selanjutnya",
            "sLast": "Terakhir"
          }
        }
        // Add event listener for opening and closing details
      });
      $('#ListKomputersOldTable tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = OldTable.row(tr);

        if (row.child.isShown()) {
          // If the row is already open, close it
          row.child.hide();
          $(this).html('<button class="btn btn-xs btn-default"><i class="fas fa-plus-circle"></i></button>'); // Ubah tombol menjadi +
          tr.removeClass('shown');
        } else {
          // Otherwise, open it
          row.child(format(row.data())).show();
          $(this).html('<button class="btn btn-xs btn-danger"><i class="fas fa-minus-circle"></i></button>'); // Ubah tombol menjadi −
          tr.addClass('shown');
        }
      });

      var NewTable = $('#ListKomputersNewTable').DataTable({
        responsive: true,
        lengthChange: false,
        scrollY: '320px',

        //processing: true,
        //serverSide: true,

        //scrollX: true,  // Mengaktifkan scroll horizontal//scrollX: true,  // Mengaktifkan scroll horizontal

        ajax: {
          url: "@Url.Action("LoadData", "ListKomputer")", // Ensure correct URL
          type: "POST",
          dataType: "json",
          dataSrc: "data", // Adjust according to your JSON structure
        },
        "initComplete": function (settings, json) {
          $('#loadingSpinner').hide();  // Sembunyikan spinner saat tabel selesai dimuat
        },
        columnDefs: [
          //{ width: '5px', targets: 0 },  // Narrow the first column (for + buttons)
          //{ width: '150px', targets: [1, 2, 3, 4, 5] }
        ],
        "columns": [
          { data: null, className: 'details-control', orderable: false, defaultContent: '<button class="btn btn-xs btn-default"><i class="fas fa-plus-circle"></i></button>' },
          {
            "data": "Id", "render": function (data) {
              var Edit = '@Url.Action("Edit", "ListKomputer")/' + data;
              return '<center><a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-sm btn-edit" data-placement="top" title="Maintenance"> <i class="fas fa-user-edit"></i></a></center>'
            },
          },
          { "data": "Description", "autowidth": true },
          { "data": "Computername", "autowidth": true },
          { "data": "NamaWorkgroup", "autowidth": true },
          { "data": "Useraccount", "autowidth": true },
          { "data": "Ipaddress", "autowidth": true },
          { "data": "NamaUser", "autowidth": true },
          { "data": "TanggalUpdate", "autowidth": true },
          {
            "data": "Id", "render": function (data) {
              var Edit = '@Url.Action("Edit", "ListKomputer")/' + data;
              var Details = '@Url.Action("Details", "ListKomputer")/' + data;
              return '<center><a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-primary btn-sm" data-placement="top" title="Edit"> <i class="fas fa-edit"></i></a>&nbsp;' +
                '<a href=\"' + Details + '\" class="btn btn-icon waves-light btn-info btn-sm" data-placement="top" title="Detail"> <i class="far fa-file"></i></a></center>'
            },
          },
        ],

        "language":
        {
          "sEmptyTable": "Tidak ada data yang tersedia pada tabel ini",
          "sProcessing": "Sedang memproses...",
          "sLengthMenu": "Tampilkan _MENU_ data",
          "sZeroRecords": "Tidak ditemukan data yang sesuai",
          "sInfo": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
          "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 data",
          "sInfoFiltered": "(disaring dari _MAX_ data keseluruhan)",
          "sInfoPostFix": "",
          "sSearch": "Cari:",
          "sUrl": "",
          "oPaginate": {
            "sFirst": "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext": "Selanjutnya",
            "sLast": "Terakhir"
          }
        }
        // Add event listener for opening and closing details
      });
      $('#ListKomputersNewTable tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = NewTable.row(tr);

        if (row.child.isShown()) {
          // If the row is already open, close it
          row.child.hide();
          $(this).html('<button class="btn btn-xs btn-default"><i class="fas fa-plus-circle"></i></button>'); // Ubah tombol menjadi +
          tr.removeClass('shown');
        } else {
          // Otherwise, open it
          row.child(format(row.data())).show();
          $(this).html('<button class="btn btn-xs btn-danger"><i class="fas fa-minus-circle"></i></button>'); // Ubah tombol menjadi −
          tr.addClass('shown');
        }
      });
        $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
            OldTable.columns.adjust().draw();
            NewTable.columns.adjust().draw();
        });
    });

    //untuk menampilkan loading saat load table
    $(document).on('preXhr.dt', function () {
      $('#loadingSpinner').show();  // Tampilkan spinner saat sedang memuat data
    });

    // Event ketika DataTables selesai memuat data
    $(document).on('xhr.dt', function () {
      $('#loadingSpinner').hide();  // Sembunyikan spinner setelah data selesai dimuat
    });



        $(document).ready(function () {
            // Saat tab "DATA KOMPUTER" diklik
            $('#button-tab-data-listkomputer').on('click', function () {
                $('#add-button').show(); // Tampilkan tombol "Add"
            });

            // Saat tab "HISTORY KOMPUTER" diklik
            $('#button-tab-history-listkomputer').on('click', function () {
                $('#add-button').hide(); // Sembunyikan tombol "Add"
            });
        });
    </script>

}
