@model IEnumerable<AppBankData.Models.ListKomputer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-0 bg-gradient-dark">
                <div class="row align-items-center">
                    <!-- Menambahkan align-items-center agar elemen berada di tengah secara vertikal -->
                    <div class="col-10">
                        <ul class="nav nav-pills p-1" id="tab-listkomputer" role="tablist">
                            <li class="pt-2 px-3 bg-gradient-gray-dark">
                                <h3 class="card-title font-weight-bold">&emsp;LIST KOMPUTER&emsp;</h3>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active border-button" id="button-tab-data-listkomputer" data-toggle="pill" href="#tab-data-listkomputer" role="tab" aria-controls="tab-data-listkomputer" aria-selected="true" title="Data Komputer">DATA KOMPUTER</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-button" id="button-tab-history-listkomputer" data-toggle="pill" href="#tab-history-listkomputer" role="tab" aria-controls="tab-history-listkomputer" aria-selected="false" title="History Komputer">HISTORY KOMPUTER</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 text-right">
                        <!-- text-right agar tombol Add terposisi di kanan -->
                        <a href="@Url.Action("Create", "ListKomputer")" class="btn btn-icon waves-light btn-tambah mr-3" id="add-button" data-placement="top" title="New">
                            <i class="fas fa-plus"></i> NEW
                        </a>
                    </div>
                </div>
            </div>

            @* Search Area *@
            @*<div style="background-color:#f5f5f5; padding-top:10px; font-size:10px">
                    <div class="col-12">
                        <div class="form-group row">
                            @Html.Label("Nama", htmlAttributes: new { @class = "col-1 col-form-label" })
                            <input type="text" id="Nama" class="form-control col-3 input-sm" />

                            @Html.Label("Angkatan", htmlAttributes: new { @class = "col-1 col-form-label" })
                            <input type="text" id="angkatan" class="form-control col-3 input-sm" />

                            <button type="button" id="btnSearch" class="btn btn-instagram btn-sm m-l-10"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>*@

            <!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content" id="tab-listkomputer-tabContent">
                    <div class="tab-pane fade show active" id="tab-data-listkomputer" role="tabpanel" aria-labelledby="button-tab-data-listkomputer" style="width:100%">
                        <table id="ListKomputersTable" class="table table-bordered display" style="width:100%;font-size:10px">
                            <thead>
                                <tr>
                                    <th width="3%"></th>
                                    <th width="8%"></th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Computername)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Workgroup)
                                    </th>
                                    <th width="17%">
                                        @Html.DisplayNameFor(model => model.Useraccount)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Ipaddress)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.NamaUser)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.TanggalUpdate)
                                    </th>
                                    <th width="12%">Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="tab-history-listkomputer" role="tabpanel" aria-labelledby="button-tab-history-listkomputer" style="width:100%">
                        <table id="ListKomputersHistoryTable" class="table table-bordered table-display " style="width:100%;font-size:10px">
                            <thead>
                                <tr>
                                    <th width="3%"></th>
                                    <th width="3%"></th>
                                    <th width="15%">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th width="12%">
                                        @Html.DisplayNameFor(model => model.Computername)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Workgroup)
                                    </th>
                                    <th width="20%">
                                        @Html.DisplayNameFor(model => model.Useraccount)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.Ipaddress)
                                    </th>
                                    <th width="10%">
                                        @Html.DisplayNameFor(model => model.NamaUser)
                                    </th>
                                    <th width="8%">
                                        @Html.DisplayNameFor(model => model.TanggalUpdate)
                                    </th>
                                    <th width="14%">
                                        &emsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

<div id="reportModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div id="reportViewer"></div>
            @*<div class="modal-header">
                    <h5 class="modal-title">Laporan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body" id="reportContainer">
                <!-- Partial view content will be loaded here -->
            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <script>
        function PingIp(ip, rowId) {
            $("#status-" + rowId).html('<i class="fas fa-spinner fa-spin" style="color:blue;"></i>');


            $.ajax({
                url: '@Url.Action("PingClient", "ListKomputer")', // controller ASP.NET MVC
                type: 'POST',
                data: { ip: ip },
                success: function (response) {
                    if (response.success) {
                        $("#status-" + rowId).html('<span style="color:green;">&#10004;</span>'); // ✅ hijau
                    } else {
                        $("#status-" + rowId).html('<span style="color:red;">&#10008;</span>'); // ❌ merah
                    }
                },
                error: function () {
                    $("#status-" + rowId).html('<span style="color:orange;">&#9888;</span>'); // ⚠ error server
                }
            });
        }
    </script>

    <script>
        $('#ListKomputersTable,#ListKomputersHistoryTable').on('error.dt', function (e, settings, techNote, message) {
            Swal.fire({
                title: "Sesi Habis",
                text: "Silakan login ulang untuk melanjutkan.",
                icon: "warning",
                confirmButtonText: "Login Ulang",
                allowOutsideClick: false,
            }).then(function () {
                window.location.href = '@Url.Action("Login", "Account")';
            });
        })

        function format(d) {
            // `d` is the original data object for the row
            return `
            <table class="table child-table display table-bordered bg-gradient-white" style="width:100%">
            <tr>
                <th width="15%"><center>Motherboard</center></th>
                <th width="10%"><center>Processor</center></th>
                <th width="15%"><center>Operating System</center></th>
                <th width="10%"><center>Harddisk</center></th>
                <th width="15%"><center>RAM</center></th>
                <th width="15%"><center>Lokasi</center></th>
                <th width="20%"><center>Keterangan</center></th>
            </tr>
                <td> ${d.Motherboard}</td>
                <td> ${d.Processor}</td>
                <td>${d.Os}</td>
                <td>${d.Hardisk}</td>
                <td> ${d.Ram}</td>
                <td>${d.Lokasi}</td>
                <td>${d.Keterangan1}</td>
            </tr>
            </table>`;
        }
        $(document).ready(function () {
            var ListTable = $('#ListKomputersTable').DataTable({
                responsive: true,
                lengthChange: false,
                scrollY: '360px',

                //processing: true,
                //serverSide: true,

                //scrollX: true,  // Mengaktifkan scroll horizontal//scrollX: true,  // Mengaktifkan scroll horizontal

                ajax: {
                    url: "@Url.Action("LoadData", "ListKomputer")", // Ensure correct URL
                    type: "POST",
                    dataType: "json",
                    dataSrc: "data", // Adjust according to your JSON structure
                },

                "initComplete": function (settings, json) {
                    $('#loadingSpinner').hide();  // Sembunyikan spinner saat tabel selesai dimuat
                },
                columnDefs: [
                    //{ width: '5px', targets: 0 },  // Narrow the first column (for + buttons)
                    //{ width: '150px', targets: [1, 2, 3, 4, 5] }
                ],
                "columns": [
                    { data: null, className: 'details-control', orderable: false, defaultContent: '<button class="btn btn-xs btn-default"><i class="fas fa-plus-circle"></i></button>' },
                    {
                        "data": "Id_Komputer", "render": function (data) {
                            var Edit = '@Url.Action("Maintenance", "ListKomputer")/' + data;
                            return '<center><a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-sm btn-edit" data-placement="top" title="Maintenance"> <i class="fas fa-user-edit"></i></a>&nbsp' +
                                '<button class="btn btn-sm btn-info btn-report" data-id="' + data + '" title="View Report"><i class="fas fa-print"></i></center>'

                        },
                    },
                    { "data": "Description", "autowidth": true },
                    { "data": "Computername", "autowidth": true },
                    { "data": "NamaWorkgroup", "autowidth": true },
                    { "data": "Useraccount", "autowidth": true },
                    { "data": "Ipaddress", "autowidth": true },
                    { "data": "NamaUser", "autowidth": true },
                    { "data": "TanggalUpdate", "autowidth": true },
                    {
                        "data": "Id_Komputer", "render": function (data,type,row) {
                            var Edit = '@Url.Action("Edit", "ListKomputer")/' + data;
                            var Details = '@Url.Action("Details", "ListKomputer")/' + data;
                            return '<a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-primary btn-sm" data-placement="top" title="Edit"> <i class="fas fa-edit"></i></a>&nbsp;' +
                                '<a href=\"' + Details + '\" class="btn btn-icon waves-light btn-info btn-sm" data-placement="top" title="Detail"> <i class="far fa-file"></i></a>&nbsp;' +
                                '<button onclick="PingIp(\'' + row.Ipaddress + '\', \'' + data + '\')" class="btn btn-sm btn-warning">Ping</button>' +
                                '<span id="status-' + data + '" style="margin-left:8px;"></span>'
                        },
                    },
                ],
                "language":
                {
                    "sEmptyTable": "Tidak ada data yang tersedia pada tabel ini",
                    "sProcessing": "Sedang memproses...",
                    "sLengthMenu": "Tampilkan _MENU_ data",
                    "sZeroRecords": "Tidak ditemukan data yang sesuai",
                    "sInfo": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
                    "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 data",
                    "sInfoFiltered": "(disaring dari _MAX_ data keseluruhan)",
                    "sInfoPostFix": "",
                    "sSearch": "Cari:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "|<",
                        "sPrevious": "<",
                        "sNext": ">",
                        "sLast": ">|"
                    }
                }
                // Add event listener for opening and closing details
            });
            $('#ListKomputersTable').on('click', '.btn-report', function () {
                //$("#reportViewer").html("<p>Loading report...</p>");
                var Id_Komputer = $(this).data('id');
                var modal = $('#reportModal');
                var reportContainer = $('#reportContainer');


                // Load the partial view dynamically
                $.ajax({
                    url: '@Url.Action("LoadReport", "ListKomputer")',
                    type: 'GET',
                    data: { id: Id_Komputer },
                    success: function (response) {
                        reportContainer.html(response);
                        modal.modal('show');
                    },
                    error: function () {
                        alert('Failed to load the report.');
                    }
                });

            });
            $('#ListKomputersTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = ListTable.row(tr);

                if (row.child.isShown()) {
                    // If the row is already open, close it
                    row.child.hide();
                    $(this).html('<button class="btn btn-xs btn-default"><i class="fas fa-plus-circle"></i></button>'); // Ubah tombol menjadi +
                    tr.removeClass('shown');
                } else {
                    // Otherwise, open it
                    row.child(format(row.data())).show();
                    $(this).html('<button class="btn btn-xs btn-danger"><i class="fas fa-minus-circle"></i></button>'); // Ubah tombol menjadi −
                    tr.addClass('shown');
                }
            })

            var HistoryTable = $('#ListKomputersHistoryTable').DataTable({
                responsive: true,
                lengthChange: false,
                scrollY: '360px',

                //processing: true,
                //serverSide: true,

                //scrollX: true,  // Mengaktifkan scroll horizontal//scrollX: true,  // Mengaktifkan scroll horizontal

                ajax: {
                    url: "@Url.Action("LoadData", "ListKomputer")", // Ensure correct URL
                    type: "POST",
                    dataType: "json",
                    dataSrc: "data", // Adjust according to your JSON structure
                },
                "initComplete": function (settings, json) {
                    $('#loadingSpinner').hide();  // Sembunyikan spinner saat tabel selesai dimuat
                },
                columnDefs: [
                    //{ width: '5px', targets: 0 },  // Narrow the first column (for + buttons)
                    //{ width: '150px', targets: [1, 2, 3, 4, 5] }
                ],
                "columns": [
                    { data: null, className: 'details-control', orderable: false, defaultContent: '<button class="btn btn-xs btn-default"><i class="fas fa-plus-circle"></i></button>' },
                    {
                        "data": "Id_Komputer", "render": function (data) {
                            var Edit = '@Url.Action("Edit", "ListKomputer")/' + data;
                            return '<center><a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-sm btn-edit" data-placement="top" title="Maintenance"> <i class="fas fa-user-edit"></i></a></center>'
                        },
                    },
                    { "data": "Description", "autowidth": true },
                    { "data": "Computername", "autowidth": true },
                    { "data": "NamaWorkgroup", "autowidth": true },
                    { "data": "Useraccount", "autowidth": true },
                    { "data": "Ipaddress", "autowidth": true },
                    { "data": "NamaUser", "autowidth": true },
                    { "data": "TanggalUpdate", "autowidth": true },
                    {
                        "data": "Id_Komputer", "render": function (data) {
                            var Edit = '@Url.Action("Edit", "ListKomputer")/' + data;
                            var Details = '@Url.Action("Details", "ListKomputer")/' + data;
                            return '<center><a href=\"' + Edit + '\" class="btn btn-icon waves-light btn-primary btn-sm" data-placement="top" title="Edit"> <i class="fas fa-edit"></i></a>&nbsp;' +
                                '<a href=\"' + Details + '\" class="btn btn-icon waves-light btn-info btn-sm" data-placement="top" title="Detail"> <i class="far fa-file"></i></a></center>'
                        },
                    },
                ],

                "language":
                {
                    "sEmptyTable": "Tidak ada data yang tersedia pada tabel ini",
                    "sProcessing": "Sedang memproses...",
                    "sLengthMenu": "Tampilkan _MENU_ data",
                    "sZeroRecords": "Tidak ditemukan data yang sesuai",
                    "sInfo": "Menampilkan _START_ sampai _END_ dari _TOTAL_ data",
                    "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 data",
                    "sInfoFiltered": "(disaring dari _MAX_ data keseluruhan)",
                    "sInfoPostFix": "",
                    "sSearch": "Cari:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "|<",
                        "sPrevious": "<",
                        "sNext": ">",
                        "sLast": ">|"
                    }
                }
                // Add event listener for opening and closing details
            });
            $('#ListKomputersHistoryTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = HistoryTable.row(tr);

                if (row.child.isShown()) {
                    // If the row is already open, close it
                    row.child.hide();
                    $(this).html('<button class="btn btn-xs btn-default"><i class="fas fa-plus-circle"></i></button>'); // Ubah tombol menjadi +
                    tr.removeClass('shown');
                } else {
                    // Otherwise, open it
                    row.child(format(row.data())).show();
                    $(this).html('<button class="btn btn-xs btn-danger"><i class="fas fa-minus-circle"></i></button>'); // Ubah tombol menjadi −
                    tr.addClass('shown');
                }
            });
            $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
                ListTable.columns.adjust().draw();
                HistoryTable.columns.adjust().draw();
            });
        })

    //untuk menampilkan loading saat load table
        $(document).on('preXhr.dt', function () {
            $('#loadingSpinner').show();  // Tampilkan spinner saat sedang memuat data
        });

    // Event ketika DataTables selesai memuat data
        $(document).on('xhr.dt', function () {
            $('#loadingSpinner').hide();  // Sembunyikan spinner setelah data selesai dimuat
        });

        $(document).ready(function () {
            // Saat tab "DATA KOMPUTER" diklik
            $('#button-tab-data-listkomputer').on('click', function () {
                $('#add-button').show(); // Tampilkan tombol "Add"
            });

            // Saat tab "HISTORY KOMPUTER" diklik
            $('#button-tab-history-listkomputer').on('click', function () {
                $('#add-button').hide(); // Sembunyikan tombol "Add"
            });
        })

    </script>

}
